{{>layout/header}}
<body>
    <h1>{{message}}</h1>

    <br />

    <h5>Your data is : </h5>

    <table>
        <tr>
            <td>
                <label>NRP</label>
            </td>
            <td>
                :
            </td>
            <td>
                {{nrp}}
            </td>
        </tr>
        <tr>
            <td>
                <label>Name</label>
            </td>
            <td>
                :
            </td>
            <td>
                {{name}}
            </td>
        </tr>
    </table>

    <br />

    <a href="/">
        Home
    </a>
</body>
{{>layout/footer}}